:root{
    font-size:16px;
}

main>*{
    display:none;
}

.modal{
    display:none;
}

#btn_template{
    display:none;
}

.buttons_container{
    display:inline-block;
}

#employee_form{
    display:none;
}